.pc-panels > .pc-container:last-child {
  position: relative;
  
  & > :not(.vp-audioviz-visualizer) {
    z-index: 2;
  }
  .pc-avatar.pc-wrapper, .pc-button {
    filter: drop-shadow(0 0 4px rgba(#292B2F, .8));
  }
  .pc-nameTag {
    text-shadow: 0px 0px 4px #292B2F;
  }
}

.vp-audioviz-visualizer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}