.panels-j1Uci_ > .container-3baos1:last-child {
  position: relative;

  & > :not(.vp-audioviz-visualizer) {
    z-index: 2;
  }
  .avatar-SmRMf2.wrapper-3t9DeA, .nameTag-3uD-yy, .button-38aScr {
    filter: drop-shadow(0 0 4px rgba(#292B2F, .8));
  }
  .nameTag-3uD-yy {
    text-shadow: 0px 0px 4px #292B2F;
  }
}

.vp-audioviz-goo {
  display: none;
}
.vp-audioviz-visualizer {
  align-items: flex-end;
  display: flex;
  filter: url(#vpVisualizerGoo);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.vp-audioviz-bar {
  background: #7289da;
  box-sizing: border-box;
  flex: 1;
}
